<h1>Editing Sub</h1>

<form class="" action="<%= sub_url(@sub) %>" method="post">
  <%= auth_tok %>
  <input type="hidden" name="_method" value="patch">

  <label for="">
  Title
  <input type="text" name="sub[title]" value="<%= @sub.title %>">
  </label>

  <label for="">
  Description
  <input type="text" name="sub[description]" value="<%= @sub.description %>">
  </label>
  <input type="submit" name="" value="Submit">
</form>

<%= link_to 'Show', @sub %> |
<%= link_to 'Back', subs_path %>
