<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @sub.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sub.description %>
</p>

<p>
  <strong>Moderator:</strong>
  <a href="<%= user_url(@sub.moderator) %>"><%= @sub.moderator.username %></a>
</p>

<a href="<%= new_post_url(:sub_id => @sub.id) %>">New Post</a>

<ul>
<% @sub.posts.each do |post| %>
  <li><a href="<%= post_url(post) %>"><%= post.title %></a></li>
<% end %>
</ul>

<%= link_to 'Edit', edit_sub_path(@sub) %> |
<%= link_to 'Back', subs_path %>
