<h1>New Post</h1>



<p>
<%= @sub.title %>
</p>

<form action="<%= posts_url %>" method="post">
  <%= auth_tok %>

  <input type="hidden" name="post[sub_ids][]" value="<%= @sub.id %>">

  <label for="post_title">Title</label>
  <input type="text" id="post_title" name="post[title]">

  <label> Subs </label>

  <% Sub.all.each do |sub| %>
    <label for="">
      <%= sub.title %>
      <input type="checkbox" name="post[sub_ids][]" <%= "checked" if @post.sub_ids.include?(sub.id) || sub.id == @sub.id %> value="<%= sub.id %>">
    </label>
  <% end %>
  <br><br>

  <label for="post_content">Content</label>
  <textarea cols="50" rows="10" name="post[content]" id="post_content"></textarea>

  <br><br>

  <input type="submit" value="Post">

</form>
