<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<% if @post.url %>
  <p>
    <strong>Url:</strong>
    <%= @post.url %>
  </p>
<% end %>
<ul>
<% @post.subs.each do |sub| %>
<li><a href="<%= sub_url(sub) %>"><%= sub.title %></a></li>
<% end %>
</ul>
<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<h3>Comments</h3>

<form class="" action="<%= post_comments_url(@post) %>" method="post">
  <%= auth_tok %>
  <textarea name="comment[content]" rows="8" cols="80"></textarea><br>
  <input type="submit" value="Add Comment">
</form>

<% @post.comments.each do |comment| %>
<a href="<%= user_url(comment.author) %>"><%= comment.author.username %></a>
<p><%= comment.content %></p>
 <% end %>
